@media screen and (max-width: 1199.98px)
    .products-card .product-bg
        padding: 30px 5px
    .see-collect
        padding: 60px 0
        &__descr
            width: 80%
    .season
        padding: 80px 50px
    .catalog
        padding-top: 350px

@media screen and (max-width: 1109.98px)
    .container
        padding: 0 20px
    .intro
        padding: 120px 0

@media screen and (max-width: 767px)
    button.menu__icon
        display: block
    nav
        display: none